{% extends 'wallet/base.html' %}{% load clp_filters %}
{% block titulo %}Depositar - AlkeWallet{% endblock %}
{% block contenido %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Depositar dinero</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <strong>Tu saldo actual:</strong> 
                    {{ saldo_actual|clp }}
                </div>
                <form method="POST">{% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">
                            {{ form.monto.label }}
                        </label>
                        {{ form.monto }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            {{ form.descripcion.label }}
                        </label>
                        {{ form.descripcion}}
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Depositar</button>
                        <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}